.search-bar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgb(112, 112, 112);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .search-bar input {
    width: 250px;
    padding: 5px;
    font-size: 14px;
  }
  
  .suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgb(118, 117, 117);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .suggestions li {
    padding: 5px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background: #f0f0f0;
  }